$color-accent: #e734cc;
$color-accent-dark: #7d1e6f;
$color-black: #333333;
$color-white: #ffffff;
$color-white-opacity: #ffffff6d;
$color-light: #e9e6e6;
$color-grey: #a19e9e;
$color-grey-opacity: #a19e9ec9;
$color-error: #f62525;

$border-radius: 5px;

$transition: 0.3s;
$transition-min: 0.1s;

$spacing-desktop: 60px;
$spacing-tablet: 40px;
$spacing-mobile: 30px;

$box-shadow: 0 0 10px 5px $color-grey;
