.preview-block-slider {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-desktop;
    width: 90%;
    overflow-x: hidden;

    @include respond-to(desktop) {
        width: 100%;
    }

    @include respond-to(tablet) {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: $spacing-tablet;
    }

    @include respond-to(mobile) {
        margin-bottom: $spacing-mobile;
    }
}

.preview-block-slider__img-container {
    position: relative;
    position: relative;
    width: 100%;
    aspect-ratio: 0.7;
    border-radius: $border-radius;

    img {
        border-radius: $border-radius;
    }
}

.swiper-controls {
    margin-top: 20px;
    @include flex(row, center, center);
    column-gap: 50px;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
    position: static !important;
    flex: 0 0 auto;
    width: fit-content !important;
}

.swiper-button-prev,
.swiper-button-next {
    margin-top: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 700;
    color: $color-accent !important;
}

.swiper-pagination {
    @include flex(row, center, center);
    column-gap: 10px;
}

.swiper-pagination-bullet {
    margin: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: $color-white !important;
    border: 2px solid $color-grey !important;
}

.swiper-pagination-bullet-active {
    pointer-events: none;
    background-color: $color-accent !important;
    border: 2px solid $color-accent !important;
}
