.overlay {
    position: fixed;
    inset: 0;
    background-color: $color-accent;
    opacity: 0.4;
    @include flex(row, center, center);
    z-index: 10;

    @include respond-to(tablet) {
        position: absolute;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: $color-white;
    border-radius: $border-radius;

    @include respond-to(desktop) {
        width: 80vw;
    }
}

.modal--absolute {
    @include respond-to(tablet) {
        position: absolute;
        top: 30px;
        bottom: 30px;
        transform: translate(-50%, 0);
    }
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.page-settings-modal {
    padding-bottom: 30px;

    @include respond-to(tablet) {
        padding-bottom: 20px;
    }
}

.page-settings-modal__h2 {
    padding: 30px $spacing-desktop;
    background-color: $color-light;
    color: $color-black;

    @include respond-to(tablet) {
        padding: 20px 30px;
    }
}

.page-settings-modal__tabs {
    @include flex(row, flex-start, center);
    padding: 0 $spacing-desktop 30px;
    background-color: $color-light;
    column-gap: 30px;

    @include respond-to(tablet) {
        padding: 0 30px 20px;
    }
}

.page-settings-modal__tab {
    color: $color-black;
}

.page-settings-modal__tab--active {
    border-bottom: 2px solid $color-grey;
}

.page-settings-modal__content {
    padding: 30px $spacing-desktop 0;
    background-color: $color-white;

    @include respond-to(tablet) {
        padding: 20px 30px;
    }
}

.page-settings-modal__label {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: $color-black;

    @include respond-to(desktop) {
        width: 100%;
    }
}

.page-settings-modal__input,
.domain-modal__input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid $color-black;
    border-radius: $border-radius;
    color: $color-black;
}

.page-settings-modal__submit,
.domain-modal__submit {
    margin: 30px auto 0;
}

.page-settings-modal__img-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    @include flex(row, center, center);
    border-radius: $border-radius;

    @include respond-to(tablet) {
        width: 200px;
        height: 200px;
    }
}

.page-settings-modal__open-unsplash-button {
    position: relative;
    z-index: 2;
    padding: 15px 20px;
    color: $color-white;
    background-color: $color-grey-opacity;
    border-radius: $border-radius;
}

.domain-modal {
    @include paddings();
    padding-left: $spacing-desktop;
    padding-right: $spacing-desktop;

    @include respond-to(tablet) {
        padding: 20px;
    }
}

.domain-modal__h2 {
    color: $color-black;
    font-size: 26px;
    margin-bottom: 30px;

    @include respond-to(tablet) {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.domain-modal__submit {
    text-align: center;
}

.domain-modal__error {
    color: $color-error;
}
