.projects-list-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: $color-white;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    hr {
        color: $color-grey;
    }
}

.projects-list-card__h2 {
    margin-bottom: 200px;
    color: $color-accent;
    font-size: 64px;

    @include respond-to(tablet) {
        margin-top: 30px;
        margin-bottom: 100px;
        font-size: 48px;
    }

    @include respond-to(mobile) {
        font-size: 30px;
    }
}

.projects-list-card__options-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.projects-list-card__footer {
    @include flex(row, flex-start, center);
    column-gap: $spacing-desktop;

    @include respond-to(tablet) {
        flex-direction: column;
        row-gap: 10px;
    }
}
