.profile-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: $color-white-opacity;
    border-radius: $border-radius;

    @include respond-to(desktop) {
        width: 80%;
    }

    @include respond-to(mobile) {
        width: 100%;
    }
}

.profile-form__logo {
    display: block;
    margin: 0 auto 40px;

    @include respond-to(mobile) {
        margin: 0 auto 20px;
        width: 40px;
        height: 40px;
    }
}

.profile-form__input {
    display: block;
    width: 70%;
    margin: 0 auto 10px;
    color: $color-white;
    padding: 10px 20px;
    font-size: 20px;
    border-bottom: 2px solid $color-white;
    border-radius: $border-radius;

    &:-webkit-autofill {
        -webkit-text-fill-color: $color-white !important;
        -webkit-box-shadow: 0 0 0px 1000px $color-accent inset;
    }

    @include respond-to(tablet) {
        width: 90%;
    }

    @include respond-to(mobile) {
        width: 100%;
        font-size: 16px;
    }
}

.profile-form__input::placeholder {
    color: $color-light;
}

.profile-form__submit {
    display: block;
    margin: 50px auto;
    padding: 15px 60px;
    border-radius: 40px;
    color: $color-black;
    background-color: $color-light;
    @include transitions();
    transition: background-color ease-in-out;

    @include hover-active {
        background-color: $color-accent;
        color: $color-white;
    }

    @include respond-to(mobile) {
        margin: 20px auto;
    }
}

.profile-form__buttons {
    @include flex(row, center, center);
    column-gap: 30px;

    @include respond-to(tablet) {
        justify-content: space-between;
    }

    @include respond-to(mobile) {
        flex-direction: column;
        row-gap: 10px;
    }
}

.profile-form__btn {
    color: $color-white;
    font-size: 20px;
    @include transitions();
    transition: color ease-in-out;

    @include hover-active {
        color: $color-light;
    }

    @include respond-to(mobile) {
        font-size: 18px;
    }
}

.profile-form__error {
    min-height: 1em;
    margin: 0 auto 10px;
    width: 70%;
    font-size: 16px;
    color: $color-error;
    text-align: center;
}
